.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    to right, 
    rgb(232, 233, 232) 0%, 
    rgb(182, 219, 240) 100%
  );
}

body::-webkit-scrollbar {
  display: none;
}

body a {
  text-decoration: none;
}

*:focus {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 6000000000s 0s, color 6000000000s 0s;
}